.banner {
    margin-top: -90px;
    padding-top: 140px;
    padding-bottom: 264px;
    position: relative;
    background: url(../images/bg_banner.png) no-repeat center center;
    background-size: 100% 100%;
    &-main {
        display: flex;
    }
    &-content {
        max-width: 436px;
        width: 100%;
        flex-shrink: 0;
        padding:94px 0 0 70px;
    }
    &-title {
        font-size: 36px;
        font-weight: 400;
        color: $color_2;
        font-family: $third-font;
    }
    &-descript {
        font-size: 18px;
        font-weight: 400;
        color: $color_2;
    }
    .thumbnail {
        max-width: 436px;
        right: 8.5%;
        bottom: 0;
        z-index: 2;
        &-item {
            width: 87px;
            margin-right: 30px;
            border-top: 2px solid transparent;
        }
        .synced .item{
            // border-top: 2px solid $color_4;
            position: relative;
            &:before{
                content: '';
                width:50%;
                height:2px;
                left:0;
                top:0;
                position:absolute;
                z-index:9;
                background: $color_4;
            }
            a {
                position: absolute;
                top: 50%;
                bottom: 0;
                // border-top: 2px solid $color_4;
            }
        }
    }
    .btn--primary {
        margin-top: 21px;
    }
    #scroll-down {
        display: block;
        position: absolute;
        text-align:center;
        right: 20px;
        writing-mode: tb-rl;
        bottom: 320px;
    }
    #scroll-title {
        display: block;
        color: $color_1;
        font-size:12px;
        font-weight: 400;
        letter-spacing:0.02em;
        transform: rotate(-180deg);
        font-family: 'Arvo';
    }
    #scroll-down::before {
        -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        position: absolute;
        top: 50px;
        left: 50%;
        width: 2px;
        height: 64px;
        background: $color_1;
        content: ' ';
    }
}
@media screen and (max-width:1199px) {
    .banner {
        &-content {
            padding:15px;
        }
        .thumbnail {
            right: 0;
        }
        #scroll-down {
            bottom: 200px;
        }
    }
}
@media screen and (max-width:1024px) {
    .banner {
        &-content {
            padding:15px;
        }
        .thumbnail {
            right: 0;
        }
    }
}
@media screen and (max-width:991px) {
    .banner {
        background: url(../images/bg_banner_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        padding-top: 110px;
        &-content {
            padding:15px;
        }
        .thumbnail {
            right: 0;
        }
        .divider {
            border-bottom: 1px solid $color_2;
            margin: 20px 0;
            margin-left: 20px;
            &:after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid $color_1;
                    margin-bottom: -1px;
                    max-width: 54px;
            }
        }
        .js-banner {
            margin-left: -15px;
        }
    }
}
@media screen and (max-width:767px) {
    .banner {
        background: url(../images/bg_banner_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        margin-top: -5rem;
        padding-top: 7rem;
        padding-bottom: 10rem;
        &-content {
            padding:2rem;
        }
        .divider {
            border-bottom: 1px solid $color_2;
            margin: 2rem 0;
            margin-left: 2rem;
            &:after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid $color_1;
                    margin-bottom: -1px;
                    max-width: 54px;
            }
        }
        &-title {
            font-size: 2.4rem;
            letter-spacing: 0.03em;
            line-height: 1.3;
        }
        &-descript {
            color: $color_1;
            font-size: 1.2rem;
            margin-top: 1.2rem;
        }
        #scroll-down {
            bottom: 14rem;
        }
        .btn--primary {
            font-size: 1.2rem;
            padding-top: 1.55rem;
            padding-bottom: 1.55rem;
        }
    }

}

@media screen and(min-width:1440px) {
    .banner {
        &-main {
            justify-content: center;
        }
        .thumbnail {
            left: 48%;
            transform: translate(50%, 0);
        }
    }
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
