* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: $primary-font;
}
input {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1.73;
    color: $color_7;
}
html {
    font-size: calc(10/375*100vw);
    @media screen and(min-width:992px){
        font-size: 62.5%;
    }
}

.btn--primary {
    padding: 14px 28px;
    background: $color_2;
    border-radius: 50px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 56px;
    font-size: 16px;
    svg {
        width: 14px;
        margin-left: 15px;
        transition: 0.2s ease;
        position: absolute;
        top: 43%;
    }
    &:hover {
        background: $color_1;
        color: $color_2;
        background-position: right 30px center;
        svg {
            width: 18px;
            path {
                fill : $color_2;
                
            }
            line {
                stroke: $color_2;

            }
        }
    }
}
.btn-small {
    padding: 15px 23px;
    border-radius: 50px;
    transition: 0.2s ease;
    border: 1px solid $color_3;
    color: $color_3;
    padding-right: 56px;
    display: flex;
    align-items: center;
    position: relative;
    svg {
        width: 14px;
        margin-left: 20px;
        transition: 0.3s ease;
        position: absolute;
        top:43%;
    }
    &:hover {
        background: $color_1;
        color: $color_2;
        svg {
            width: 18px;
            path {
                fill : $color_2;
                
            }
            line {
                stroke: $color_2;

            }
        }
    }
    .btn-text-one {
        margin-right: 17px;
    }
    span {
        font-size: 12px;
        font-weight: 400;
    }
}
   