.blog {
    margin-top: -3px;
    padding-bottom: 100px;
    background: url(../images/bg_blog.png) no-repeat center center;
    background-size: 100% 100%;
    &-heading {
        margin: 0 auto;
        font-family: $third-font;
        font-size: 35px;
        font-weight: normal;
        color: $color_1;
    }
    &-list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        padding: 0 5px;
    }
    &-status {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        .status-circle {
            width: 16px;
            height: 16px;
            background: $color_4;
            border-radius: 50%;
            margin-right: 3px;
        }
    }
    &-time {
        color: $color_6;
    }
    &-title h6{
        margin: 10px 0;
        font-weight: bold;
        line-height: 1.375;
        letter-spacing: 0.03em;
        color: $color_3;
        text-decoration: none;
        font-size: 16px;
        &:hover{
            text-decoration: none;
        }
    }
    p {
        line-height: 1.375;
        letter-spacing: 0.03em;
        font-weight: 400;
        font-size: 1.6rem;
    }
    &-img {
        img {
            width: 100%;
        }
    }
}
@media screen and (max-width:1024px) {
    .blog {
        &-img {
            grid-column: 1/2;
        }
        &-status {
            grid-row-start: 1;
            grid-column: 1/5;
            margin-bottom: 5px;
        }
        &-title {
            grid-column: 2/5;
            font-size: 14px;
            margin-left: 15px;
            line-height:  1.57;
        }
        &-list {
            gap: 18px;
            padding:0;
        }
    }
}
@media screen and (max-width:991px) {
    .blog {
        background: $color_8;
        &-list {
            grid-template-columns: repeat(1, 1fr);
            gap: 25px;
        }
        &-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        &-img {
            grid-column: 1/2;
        }
        &-status {
            grid-row-start: 1;
            grid-column: 1/5;
            margin-bottom: 5px;
        }
        &-title {
            grid-column: 2/5;
            font-size: 14px;
            margin-left: 15px;
            line-height:  1.57;
        }
        &-item {
            // display: flex;
            img {
                width: 100%;
                height: auto;
            }
        }
        &-heading {
            margin: 0;
            padding-left: 10px;
        }
    }
}

@media screen and (max-width:767px) {
    .blog {
        &-heading {
            font-size:2.5rem;
            margin: 0;
        }
        &-list {
            grid-template-columns: repeat(1, 1fr);
            gap: 2.5rem;
        }
        &-item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        &-img {
            grid-column: 1/2;
        }
        &-status {
            grid-row-start: 1;
            grid-column: 1/5;
            margin-bottom: 0.5rem;
        }
        &-title {
            grid-column: 2/5;
            margin-left: 1.5rem;
            line-height:  1.57;
            h6 {
                margin: 0.5rem 0;
                font-size: 1.4rem;
            }
        }
        &-item {
            // display: flex;
            img {
                width: 14.3rem;
                height: 9.3rem;
            }
        }
        .btn--primary {
            font-size: 1.2rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
}
