.corevalue {
    padding-bottom: 162px;
    background: url(../images/bg_core.png) no-repeat center center;
    background-size: 100% 100%;
    .container {
        max-width: 1266px;
    }
    &-main {
        display: flex;
    }
    &-content {
        max-width: 435px;
        flex-shrink: 0;
        width: 100%;
        margin:0 auto;
    }
    &-img {
        margin-top: 50px;
        img {
            width: 100%;
        }
    }
    &-heading {
        font-size: 55px;
        color: $color_3;
        font-family: $secondary-font;
        margin-bottom: 40px;
        letter-spacing: 0.05em;
    }
    &-descript {
        font-size: 16px;
        color: $color_3;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .button-wrapper:nth-of-type(2) {
        .btn-small {
            .btn-text-two {
                margin-right: 5px;
            }
        }
    }
    .button-wrapper:nth-of-type(3) {
        .btn-small {
            .btn-text-two {
                margin-right: 36px;
            }
        }
    }
    .button-wrapper:nth-of-type(4) {
        .btn-small {
            .btn-text-one {
                margin-right: 4px;
            }
        }
    }
    .btn-small {
        margin-top: 40px;
        
    }
}
@media screen and (min-width:1440px){
    .corevalue {
        
        &-main {
            justify-content: center;
        }
        &-content {
            padding: 0 15px;
            margin: 0 100px;
        }
    }
}
@media screen and (max-width:1024px){
    .corevalue {
        &-main {
            justify-content: center;
        }
        &-content {
            padding: 0 15px;
        }
    }
}
@media screen and (max-width:991px){
    .corevalue {
        background: url(../images/bg_core_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        &-main {
            justify-content: center;
        }
        &-content {
            padding: 0 20px;
        }
    }
}
@media screen and (max-width:767px) {
    .corevalue {
        background: url(../images/bg_core_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        padding-top: 0;
        &-img {
            img {
                width: 100%;
            }
        }
        &-heading {
            font-size: 3.5rem;
        }
        &-content {
            position: relative;
            top: -5rem;
        }
        &-descript {
            margin-bottom: 3rem;
            font-size: 1.6rem;
        }
        .btn--primary {
            font-size: 1.2rem;
            padding: 1.4rem 5rem 1.4rem 2rem;
        }
        .btn-small {
            font-size: 1.2rem;
            margin-top: 3rem;
            padding: 1.4rem 5rem 1.4rem 2rem;
            span {
                font-size: 1.2rem
            };
        }
    }
}