.footer {
    background: $color_2;
    .container {
        max-width: 1280px;
    }
    &-content {
        padding: 20px 0;
    }
    &-left {
        span {
            font-size: 12px;
            color: $color_1;
            line-height: 1.42;
        }
    }
    &-right {
        .nav-link {
            margin: 0 20px;
            font-size: 12px;
            color: $color_1;
            line-height: 1.42;
            transition: all 0.3s ease-in;
            &:hover {
                color: $color_3;
                opacity: 0.7;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .footer {
        &-left {
            align-items: flex-start;
            span {
                font-size: 1.2rem;
            }
        }
        &-right {
            .navbar-nav {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .nav-item:nth-child(1) {
                    grid-column: 1 / 4;
                }
                .nav-item:nth-child(2) {
                    grid-column: 1/3;
                }
                .nav-item:nth-child(3) {
                    grid-column: 3 / 5;
                }
                .nav-item:nth-child(4) {
                    grid-column: 1 / 4;
                }
                // .nav-item:nth-child(5) {
                //     grid-column-start: 1;
                // }
            }
            .nav-item {
                margin-bottom: 3rem;
            }
            .nav-link {
                margin: 0;
                font-size: 1.2rem;
            }
        }
    }
}
