.header {
  background: linear-gradient(#02b9a4 0%, rgba(2, 185, 164, 0) 100%);
  &-logo {
    font-size: 2rem;
    font-weight: 400;
    font-family: $logo-font;
    color: $color_2;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: $color_3;
      opacity: 0.7;
    }
    img {
      margin-right: 30px;
    }
  }
  &-navbar {
    transition: height 0.2s ease-in;
  }
  .text-none {
    #language-hide {
      display: none;
    }
  }
  .text-block {
    #language-hide {
      display: block;
    }
  }
  &-navbar {
    .navBar-mb {
      height: 100%;
    }
    .nav-item {
      .nav-link {
        color: $color_2;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        transition: 0.5s ease-out;
        &:hover {
          color: $color_3;
        }
      }
      .nav-language {
        width: 95px;
        display: flex;
        justify-content: center;
        background: $color_2;
        color: $color_4;
        &:hover {
          color: $color_4;
          span {
            display: none;
          }
          &:before {
            content: "English";
            padding: 5px 0;
            border-bottom: 1px solid;
            border-top: 1px solid transparent;
          }
        }
      }
    }
    .nav-contact {
      background: $color_5; 
      margin-left: 10px;
      .nav-link {
        padding: 0 25px;
      }
    }
  }
  .btn-contact {
    margin: 106px auto;
    background: $color_2;
    border-radius: 50px;
    transition: 0.2s ease;
    svg {
      width: 14px;
      margin-left: 15px;
      transition: 0.2s ease;
    }
    &:hover {
      background: $color_1;
      color: $color_2;
      svg {
        width: 18px;
        path {
          fill: $color_2;
        }
        line {
          stroke: $color_2;
        }
      }
    }
  }
  .navbar-toggler {
    background: $color_2;
    .nav-language {
      color: $color_4;
      padding-right: 10px;
      padding-left: 20px;
      span {
        font-size: 1.2rem;
      }
    }
  }
  .btn-toggler {
    padding: 0 25px;
    &:focus {
      .navbar-toggler .nav-language {
        display: none;
      }
    }
  }
}
.button {
  border: 3px solid #111;
  padding: 10px;
  color: #111;
  text-decoration: none;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#02b9a4 0%, #fdeadd 100%);
  display: none;
  z-index: 1200;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

#xmas-popup .popup-content {
  max-width: 1200px;
  height: 600px;
  margin: 40px auto;
  position: relative;
  .nav-tabs .nav-item .nav-link {
    padding: 22px 110px;
    color: $color_2;
    border-radius: 0;
    font-size: 1.8rem;
    &:hover {
      border: 1px solid transparent;
      opacity: 0.7;
      transition: 0.2s ease;
      &.active {
        opacity: 1;
      }
    }
  }
  .nav-start {
    justify-content: start;
    .nav-item + .nav-item:nth-of-type(2):after {
        width: 0;
    }
  }
  .nav-center {
      justify-content: center;
      .nav-item + .nav-item:after {
          width: 0;
      }
  }
  .nav-end {
      justify-content: flex-end;

  }
  .nav-item {
    background: $color_1;
    position: relative;
    + .nav-item:after {
      content: "";
      background: $color_2;
      position: absolute;
      bottom: 25%;
      left: 0%;
      height: 50%;
      width: 2px;
    }
  }
  .tab-content {
    background: $color_2;
    a:hover {
      transition: all 0.3s ease-in;
      opacity: 0.7;
    }
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: $color_1;
    background-color: $color_2;
    border-color: $color_2;
    transform: scaleY(1.2);
    padding: 22px 120px;
  }
  &-heading {
    font-size: 116px;
    letter-spacing: 0.05em;
    font-family: $third-font;
    font-weight: 400;
    color: $color_2;
    position: relative;
    .product-smallHeading {
      font-size: 35px;
      color: $color_1;
      position: absolute;
      left: 41%;
      bottom: 5%;
      letter-spacing: 0.08em;
    }
  }
  &-type {
    background: $color_2;
    padding: 70px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px 20px;
  }
  .type-img {
    background: #f4f4f4;
    border-radius: 40px;
    margin-right: 10px;
  }
  .type-descript {
    margin-bottom: 0;
    font-size: 16px;
    color: $color_3;
    font-weight: bold;
  }
  &-industry,
  &-purpose {
    background: $color_2;
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 45px;
    max-width: 877px;
    margin: 0 auto;
  }
  .industry-img,
  .purpose-img {
    background: #f4f4f4;
    border-radius: 40px;
    margin-right: 10px;
  }
  .industry-descript,
  .purpose-descript {
    margin-bottom: 0;
    font-size: 16px;
    color: $color_3;
    font-weight: bold;
  }
  .product-type,
  .product-industry,
  .product-purpose {
    padding-top: 35px;
  }
}

.close {
  text-decoration: none;
  line-height: 0;
  text-align: center;
}
.popup-heading {
  margin: 50px;
  .popup-title {
    font-size: 25px;
    color: $color_2;
    line-height: 1.16;
    font-weight: bold;
    margin-left: 52%;
    transform: translate(-48%);
  }
}
.form-wrapper {
  max-width: 702px;
  .form-control {
    background: $color_2;
    height: 60px;
    border-radius: 50px !important;
    color: $color_7;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.6rem;
    &::placeholder {
      color: $color_7;
      font-size: 1.6rem;
    }
  }
  label {
    font-size: 16px;
    color: $color_2;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-right: 45px;
  }
  .input-group-append {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .btn-search {
    background: $color_2;
    border: 0;
    color: $color_4;
    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 25px;
    }
  }
}
.submenu {
  display: none !important;
  transition: all 0.5s ease-out;
}
@media screen and (min-width: 320px) {
  .header {
    &-logo {
      img {
        height: 5rem;
        margin-right: 1.5rem;
      }
    }
    
  .button-pc {
    display: none !important;
  }
  .button-mb {
    display:flex !important;
  }
    .nav-item {
      .language-mb {
        width: 9.5rem;
        justify-content: start;
        background: none;
        color: $color_2;
      }
    }
  }

  .group-toggler {
    display: flex;
    background: $color_2;
    height: 5rem;
    .nav-language {
      color: $color_4;
    }
  }
  .navbar-toggler {
    .nav-language {
      font-size: 1.2rem;
    }
  }
  .navbar-mb {
    padding: 5rem 4rem;
    padding-bottom: 0;
    .nav-item {
      border-top: 1px solid $color_2;
      .nav-link {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    &-logo {
      img {
        height: auto;
        margin-right: 30px;
      }
    }
    
  .button-pc {
    display: block !important;
  }
  .button-mb {
    display:none !important;
  }
    .nav-item {
      .language-mb {
        justify-content: center;
        background: $color_2;
      }
    }
    .navbar-expand-xl .navbar-toggler,
    .group-toggler {
      display: none;
    }
    .navbar-mb {
      padding: 0;
      .nav-item {
        border-top: none;
        .nav-link {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .button-pc {
      display: flex !important;
    }
    .button-mb {
      display:none !important;
    }
    .nav-language {
      width: 95px;
      display: flex;
      justify-content: center;
      background: $color_2;
      color: $color_4 !important;
      &:hover {
        color: $color_4;
        span {
          display: none;
        }
        &:before {
          content: "English";
          padding: 5px 0;
          border-bottom: 1px solid;
          border-top: 1px solid transparent;
        }
      }
    }
  }
  .popup:target {
    display: block;
  }
}
@media screen  and (max-width:1199px){
  .navbar-mb {
    background: url(../images/bg_banner_375.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
}
@media  screen and (max-width:768px) {
  .submenu {
    list-style: none;
    padding: 1.5rem;
    &.show {
      display: block !important;
    }
    li {
      padding: 1rem;
      border-top: 1px solid $color_2;
      a{
        color: $color_2;
        text-decoration: none;
      }
    }
  }
}

.close {
  text-align: center;
}
.open {
  align-items: center;
}
