.location {
    background: url(../images/bg_location.png) no-repeat center center;
    background-size: 100% 100%;
    &-main {
        max-width: 592px;
        padding: 120px 10px;
    }
    &-heading {
        font-size: 55px;
        font-family: $secondary-font;
        font-weight: bold;
        line-height: 1.27;
        letter-spacing: 0.05em;
        color: $color_2;
    }
    &-descript {
        font-size: 16px;
        color: $color_2;
        line-height: 1.6875;
        letter-spacing: 0.03em;
        font-weight: normal;
    }
    .btn--primary {
        margin-top: 4rem;
        margin-left: auto;
    }
}
.space {
    padding: 89px 0 110px;
    background: url(../images/bg_space.jpg) no-repeat center center;
    background-size: 100% 100%;
    &-heading {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 20px;
        letter-spacing: 0.03em;
        line-height: 1.48;
        color: $color_3;
    }
    &-descript {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        letter-spacing: 0.03em;
        line-height: 1.6875;
        color: $color_3;
    }
    .btn-small {
        margin-left: auto;
        span {
            font-size: 1.6rem;
        }
        svg {
            margin-left: 20px;
            transition: 0.2s ease;
            position: absolute;
            top: 37%;
        }
        &:hover {
            background: $color_1;
            color: $color_2;
            svg {
                width: 14px;
                path {
                    stroke: $color_2;
                    fill: $color_1;
                }
                line {
                    stroke: $color_2;
                    fill: $color_1;
                }
            }
        }
    }
}
.contact {
    background: $color_4;
    &-main {
        max-width: 681px;
        margin: 0 auto;
        padding: 70px 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
    }
    &-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6875;
        color: $color_2;
    }
    .btn-small {
        border: 1px solid $color_2;
        color: $color_2;
        span {
            font-size: 1.6rem;
            font-weight: bold;
        }
        svg {
            margin-left: 15px;
            width: 14px;
            transition: 0.2s ease;
            position: absolute;
            top: 43%;
        }
        &:hover {
            background: $color_5;
            svg {
                width: 18px; 
                path {
                    fill : $color_2;
                    
                }
                line {
                    stroke: $color_2;

                }
        }   }
    }
}
@media screen and (max-width:991px){
    .location {
        &-main {
            padding: 75px 10px;
        }
        &-heading {
            font-size: 40px;
            margin-bottom: 58px;
        }
        .btn--primary {
            margin: 0 auto;
            margin-top: 40px;
        }
    }
    .contact {
        &-main {
            grid-template-columns: 1fr;
            gap: 40px;
        }
        &-title {
            margin: 0 10px;
        }
        .btn-small {
            margin: 0 auto;
        }
    }
    .space {
        img {
            width: 100%;
            padding: 0px 10px;
        }
        &-heading {
            font-size: 20px;
            margin: 30px 10px;
        }
        &-descript {
            margin-left:  10px;
            margin-right:  10px;
        }
        .btn-small {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width:767px){
    .location {
        background: url(../images/bg_location_375.jpg) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact {
        &-main {
            grid-template-columns: 1fr;
            gap: 4rem;
        }
        &-title {
            margin: 0 1rem;
        }
    }
    .space {
        background: url(../images/bg_space_375.jpg) no-repeat center center;
        background-size: cover;
        padding-bottom: 7rem;
        img {
            width: 100%;
            padding: 0 1rem;
        }
        &-heading {
            font-size: 2rem;
            margin: 3rem 1rem;
        }
        &-descript {
            margin-left:  1rem;
            margin-right:  1rem;
        }
        .btn-small {
            margin-right: 1rem;
        }
    }
}