.partner {
    padding-top: 20px;
    padding-bottom: 70px;
    background: $color_8;
    .container {
        max-width: 1040px;
    }
    .related-business {
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 1.6rem;
        font-weight: bold;
    }
    &-top {
        .partner-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 30px;
            img {
                width: 100%;
            }
        }
    }
    &-item {
        a {
            transition: opacity 0.5s ease-in;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &-bottom {
        .partner-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 30px;
        }
        .btn-small {
            max-width: 230px;
            height: 58px;
            background: $color_2;
            transition: all 0.5s ease;
            border: 1px solid $color_2;
            color: $color_3;
            font-size: 12px;
            border-radius: 0;
            letter-spacing: 0.03em;
            line-height: 1.42;
            padding: 15px;
            width: 100%;
            text-align: start;
            justify-content: space-between;
            span {
                white-space: nowrap;
            }
            svg {
                position: static;
            }
            &:hover {
                background: $color_5;
                color: $color_2;
                svg {
                    width: 14px;
                    path {
                        fill : $color_1;
                        stroke: $color_2;
                    }
                    line {
                        stroke: $color_2;
                        fill : $color_1;
                    }
            }   }
        }
    }
    .scrollToTopBtn {
        background-color: none;
        border: none;
        border-radius: 50%;
        color: $color_4;
        padding:0;
        position: fixed;
        bottom: 120px;
        right: 30px;
        z-index: 100;
        opacity: 0;
        transform: translateY(100px);
        transition: all .5s ease;
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
    .btn:focus {
        box-shadow: none;
    }
    .showBtn {
        opacity: 1;
        transform: translateY(0)
    }
}
@media screen and (max-width:1024px) {
    .partner {
        .related-business {
            margin:50px 0 30px 0;
        }
        &-top {
            .partner-list {
                grid-template-columns: repeat(2, 1fr);
                gap:20px;
                margin:0 15px;
            }
        }
        &-bottom {
            .partner-list {
                grid-template-columns: repeat(4, 1fr);
                gap:20px;
                margin:0 5px;
            }
            .btn-small {
                width: 230px;
                height: 58px;
                font-size: 12px;
                padding: 0rem .9375rem;
                border-radius: 0;
                letter-spacing: 0.03em;
                line-height: 1.42;
                svg {
                    margin-left: 20px;
                }
            }
        }
        .scrollToTopBtn {
            bottom: 230px;
        }
    }
}
@media screen and (max-width:991px) {
    .partner {
        .related-business {
            margin:50px 0 30px 0;
        }
        &-top {
            .partner-list {
                grid-template-columns: repeat(1, 1fr);
                gap:20px;
                margin:0 15px;
                img {
                    width: 100%;
                }
            }
        }
        &-bottom {
            .partner-list {
                grid-template-columns: repeat(3, 1fr);
                gap:20px;
                margin:0 5px;
            }
            .btn-small {
                height: 58px;
                font-size: 12px;
                padding: 0rem .9375rem;
                border-radius: 0;
                letter-spacing: 0.03em;
                line-height: 1.42;
                span {
                    white-space: normal;
                }
                svg {
                    margin-left: 20px;
                }
            }
        }
        .scrollToTopBtn {
            bottom: 230px;
        }
    }
}

@media screen and (max-width:767px) {
    .partner {
        .related-business {
                margin:5rem 0 3rem 0;
        }
        &-top {
            .partner-list {
                grid-template-columns: repeat(1, 1fr);
                gap:2rem;
                margin:0 1.5rem;
                img {
                    width: 100%;
                }
            }
        }
        &-bottom {
            .partner-list {
                grid-template-columns: repeat(2, 1fr);
                gap:2rem;
                margin:0 0.5rem;
            }
            .btn-small {
                width: 15.3rem;
                height: 5.8rem;
                font-size: 1.2rem;
                padding: 0rem .9375rem;
                border-radius: 0;
                letter-spacing: 0.03em;
                line-height: 1.42;
                svg {
                    margin-left: 2rem;
                }
            }
        }
        .scrollToTopBtn {
            bottom: 23rem;
        }
    }
}
