.product {
    margin-top: -136px;
    padding-bottom: 186px;
    background: url(../images/bg_product.png) no-repeat center center;
    background-size: 100% 100%;
    .nav-start {
        justify-content: start;
        .nav-item + .nav-item:nth-of-type(2):after {
            width: 0;
        }
    }
    .nav-center {
        justify-content: center;
        .nav-item + .nav-item:after {
            width: 0;
        }
    }
    .nav-end {
        justify-content: flex-end;
    }
    .tab-content {
        background: $color_2;
        position: relative;
        z-index: 10;
        border-radius: 4px;
        &:before {
            background: linear-gradient($color_8 0%, $color_1 100%);
            opacity: 0.9;
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            z-index: -1;
            right: -30px;
            bottom: -50px;
            border-radius: 4px;
        }
        .tab-pane {
            background: $color_2;
            border-radius: 4px;
        }
        a:hover {
            opacity: 0.7;
            transition: all 0.3s ease-in;
        }
    }
    .container {
        max-width: 1212px;
        filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.16));
    }
    .nav-tabs .nav-item .nav-link {
        padding: 22px 110px;
        color: $color_2;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: none;
        font-size: 18px;
        &:hover {
            transition: 0.5s ease-in;
            opacity: 0.7;
            &.active {
                opacity:1;
            }
        }
    }
    .nav-item {
        background: $color_1;
        position: relative;
        + .nav-item:after {
          content: "";
          background: $color_2;
          position: absolute;
          bottom: 25%;
          left: 0%;
          height: 50%;
          width: 2px;
        }
          

    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $color_1;
        background-color: $color_2;
        border-color: $color_2;
        transform: scaleY(1.2);
        padding: 22px 120px;
    }
    &-heading {
        font-size: 116px;
        letter-spacing: 0.05em;
        font-family: $third-font;
        font-weight: 400;
        color: $color_2;
        position: relative;
        margin-left: 36px;
        .product-smallHeading {
            font-size: 35px;
            color: $color_1;
            position: absolute;
            left: 44%;
            bottom: 5%;
            letter-spacing: 0.08em;
        }
    }
    &-type {
        background: $color_2;
        padding: 70px 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 50px 20px;
    }
    .type-img {
        background: #f4f4f4;
        border-radius: 40px;
        margin-right: 10px;
    }
    .type-descript {
        margin-bottom: 0;
        font-size: 16px;
        color: $color_3;
        font-weight: bold;
    }
    &-industry, &-purpose {
        background: $color_2;
        padding: 70px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 45px;
        max-width: 877px;
        margin: 0 auto;
    }
    .industry-img, .purpose-img {
        background: #f4f4f4;
        border-radius: 40px;
        margin-right: 10px;
    }
    .industry-descript, .purpose-descript {
        margin-bottom: 0;
        font-size: 16px;
        color: $color_3;
        font-weight: bold;
    }
}
@media screen and(min-width:2560px) {
    .product {
        &-heading {
            left: 27%;
            .product-smallHeading {
                left: 23%;
            }
        }
    }
}
@media screen and (max-width:1024px){
    .product {
        &-type, &-industry, &-purpose {
            grid-template-columns: repeat(4, 1fr);
            gap: 25px 15px;
            padding-top:25px;
        }
        .type-descript , .industry-descript , .purpose-descript {
            font-size: 12px;
            text-align: center;
            font-weight: normal;
        }
        .type-item, .industry-item , .purpose-item {
            flex-direction: column;
            justify-content: center;
            img {
                width: 70px;
                height: 70px;
            }
        }
        .tab-content {
            &:before {
                right: -15px;
                bottom: -30px;
            }
        }
    }
}

@media screen and (max-width:991px){
    .product {
        background: url(../images/bg_product_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        &-heading {
            font-size: 60px;
            margin-left: 0;
            .product-smallHeading {
                font-size: 25px;
                left: 33%;
                bottom: -6%;
            }
        }
        &-type, &-industry, &-purpose {
            grid-template-columns: repeat(3, 1fr);
            gap: 25px 15px;
            padding-top:25px;
            padding-bottom:25px;
        }
        .type-descript , .industry-descript , .purpose-descript {
            font-size: 12px;
            text-align: center;
            font-weight: normal;
        }
        .type-item, .industry-item , .purpose-item {
            flex-direction: column;
            justify-content: center;
            img {
                width: 70px;
                height: 70px;
            }
        }
        .nav-tabs .nav-item .nav-link {
            padding:20px 50px;
            font-size: 12px;
            letter-spacing: 0.03em;
            line-height: 1.6;
            color: $color_2;
            border-radius: 0;
            background: $color_1;
            text-align: center;
            white-space: nowrap;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: $color_1;
            background-color: $color_2;
            border-color: $color_2;
            transform: scaleY(1.2);
            transition: all 0.5s ease;
            padding: 20px 60px;
            font-size: 16px;
            line-height: 1.0625;
            font-weight: bold;
        }
        .nav-tabs .nav-item {
            width: auto;
        }
        .nav-tabs .nav-item .product-tab{
            padding: 20px 50px;
        }
        .nav-tabs .nav-item .product-tab.active {
            white-space: nowrap;
            padding: 20px 50px;
        }
        .tab-content {
            &:before {
                right: -15px;
                bottom: -30px;
            }
        }
    }
}
@media screen and (max-width:767px){
    .product {
        background: url(../images/bg_product_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        padding-top: 2.2rem;
        padding-bottom: 1.4rem;
        margin-top: -5rem;
        &-heading {
            font-size: 6rem;
            .product-smallHeading {
                font-size: 2.5rem;
                left: 33%;
                bottom: -6%;
            }
        }
        &-type, &-industry, &-purpose {
            grid-template-columns: repeat(3, 1fr);
            gap: 2,5rem 1.5rem;
            padding-top:2.5rem;
        }
        .type-descript , .industry-descript , .purpose-descript {
            font-size: 1.2rem;
            text-align: center;
            font-weight: normal;
        }
        .type-item, .industry-item , .purpose-item {
            flex-direction: column;
            justify-content: center;
            img {
                width: 7rem;
                height: 7rem;
            }
        }
        .type-img ,.industry-img, .purpose-img {
            margin-right: 0;
        }
        .nav-tabs .nav-item .nav-link {
            padding:2rem;
            font-size: 1.2rem;
            letter-spacing: 0.03em;
            line-height: 1.6;
            color: $color_2;
            border-radius: 0;
            background: $color_1;
            text-align: center;
            white-space: nowrap;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: $color_1;
            background-color: $color_2;
            border-color: $color_2;
            transform: scaleY(1.2);
            padding: 2rem 0.5rem;
            font-size: 1.6rem;
            line-height: 1.0625;
            font-weight: bold;
        }
        .nav-tabs .nav-item {
            width: 11.8rem;
        }
        .nav-tabs .nav-item .product-tab{
            padding: 2rem 0.5rem;
        }
        .nav-tabs .nav-item .product-tab.active {
            white-space: pre-wrap;
            padding: 1rem 0.5rem;
        }
        .tab-content {
            &:before {
                right: -1.5rem;
                bottom: -3rem;
            }
        }
    }
}




