.solution {
    // padding-top: 146px;  
    padding-bottom: 200px;
    background: url(../images/bg_solution.png) no-repeat center center;
    background-size: 100% 100%;
    .container {
        max-width: 1266px;
    }
    &-main {
        display: flex;
        justify-content: space-between;
    }
    &-content {
        max-width: 435px;
        flex-shrink: 0;
        width: 100%;
    }
    &-img {
        max-width: 710px;
        width: 100%;
        margin-top: 50px;
        img {
            width: 100%;
        }
    }
    &-heading {
        font-size: 55px;
        color: $color_3;
        font-family: $secondary-font;
        margin-bottom: 40px;
    }
    &-descript {
        font-size: 16px;
        color: $color_3;
        font-weight: 400;
        margin-bottom: 40px;
    }
    // .btn--primary {
    //     padding: .375rem 1.75rem;
    //     height: 54px;
    //     background: $color_2;
    //     border-radius: 50px;
    //     transition: 0.2s ease;
    //     padding-right: 3.553rem;
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     svg {
    //         width: 14px;
    //         margin-left: 15px;
    //         transition:width 0.2s ease;
    //         position: absolute;
    //         top:43%;
    //         // overflow: visible;
    //     }
    //     &:hover {
    //         background: $color_1;
    //         color: $color_2;
    //         svg {
    //             width: 18px;
    //             path {
    //                 fill : $color_2;
                    
    //             }
    //             line {
    //                 stroke: $color_2;

    //             }
    //         }
    //     }
    // }
}
@media  screen and (max-width:1024px) {
    .solution {
        padding-top: 0;
        &-img {
            img {
                width: 100%;
            }
        }
        &-heading {
            font-size: 35px;
            letter-spacing: 0.05em;
            margin:20px 0;
        }
    }
}
@media  screen and (max-width:991px) {
    .solution {
        background: url(../images/bg_solution_375.jpg) no-repeat center center;
        background-size: 100% 100%;
        &-img {
            img {
                width: 100%;
            }
        }
        &-heading {
            font-size: 35px;
            letter-spacing: 0.05em;
            margin:20px 0;
        }
    }
}
@media  screen and (max-width:767px) {
    .solution {
        &-heading {
            font-size: 3.5rem;
            letter-spacing: 0.05em;
            margin:2rem 0;
        }
        .btn--primary {
            font-size: 1.2rem;
            padding: 1.5rem 5rem 1.5rem 2rem;
        }
        &-descript {
            font-size: 1.6rem;
            margin-bottom: 3rem;
        }
    }
}
@media  screen and (max-width:425px) {
    .solution {

        padding-top: 0;
        padding-bottom: 14rem;
        padding-top: 6.5rem;
        &-img {
            img {
                width: 100%;
            }
        }
        &-heading {
            font-size: 3.5rem;
            letter-spacing: 0.05em;
            margin:2rem 0;
        }
    }
}
