
$primary-font: "noto-sans-cjk-jp", sans-serif;
$secondary-font:'roboto', sans-serif;
$third-font: "A P-OTF Bunkyu Gothic Pr6",sans-serif;
$logo-font: 'Segoe UI', sans-serif;


$color_1:#0C4947;
$color_2:#FFFFFF;
$color_3:#121212;
$color_4:#02B9A4;
$color_5:#204846;
$color_6:#9A9A9A;
$color_7: #cbcbcb;
$color_8:#f4f4f4;

