* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "noto-sans-cjk-jp", sans-serif;
}

input {
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-size: 16px;
  line-height: 1.73;
  color: #cbcbcb;
}

html {
  font-size: calc(10/375*100vw);
}

@media screen and (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
}

.btn--primary {
  padding: 14px 28px;
  background: #FFFFFF;
  border-radius: 50px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 56px;
  font-size: 16px;
}

.btn--primary svg {
  width: 14px;
  margin-left: 15px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: absolute;
  top: 43%;
}

.btn--primary:hover {
  background: #0C4947;
  color: #FFFFFF;
  background-position: right 30px center;
}

.btn--primary:hover svg {
  width: 18px;
}

.btn--primary:hover svg path {
  fill: #FFFFFF;
}

.btn--primary:hover svg line {
  stroke: #FFFFFF;
}

.btn-small {
  padding: 15px 23px;
  border-radius: 50px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 1px solid #121212;
  color: #121212;
  padding-right: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.btn-small svg {
  width: 14px;
  margin-left: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  top: 43%;
}

.btn-small:hover {
  background: #0C4947;
  color: #FFFFFF;
}

.btn-small:hover svg {
  width: 18px;
}

.btn-small:hover svg path {
  fill: #FFFFFF;
}

.btn-small:hover svg line {
  stroke: #FFFFFF;
}

.btn-small .btn-text-one {
  margin-right: 17px;
}

.btn-small span {
  font-size: 12px;
  font-weight: 400;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#02b9a4), to(rgba(2, 185, 164, 0)));
  background: linear-gradient(#02b9a4 0%, rgba(2, 185, 164, 0) 100%);
}

.header-logo {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Segoe UI", sans-serif;
  color: #FFFFFF;
  line-height: 1;
}

.header-logo:hover {
  text-decoration: none;
  color: #121212;
  opacity: 0.7;
}

.header-logo img {
  margin-right: 30px;
}

.header-navbar {
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.header .text-none #language-hide {
  display: none;
}

.header .text-block #language-hide {
  display: block;
}

.header-navbar .navBar-mb {
  height: 100%;
}

.header-navbar .nav-item .nav-link {
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.header-navbar .nav-item .nav-link:hover {
  color: #121212;
}

.header-navbar .nav-item .nav-language {
  width: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  color: #02B9A4;
}

.header-navbar .nav-item .nav-language:hover {
  color: #02B9A4;
}

.header-navbar .nav-item .nav-language:hover span {
  display: none;
}

.header-navbar .nav-item .nav-language:hover:before {
  content: "English";
  padding: 5px 0;
  border-bottom: 1px solid;
  border-top: 1px solid transparent;
}

.header-navbar .nav-contact {
  background: #204846;
  margin-left: 10px;
}

.header-navbar .nav-contact .nav-link {
  padding: 0 25px;
}

.header .btn-contact {
  margin: 106px auto;
  background: #FFFFFF;
  border-radius: 50px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header .btn-contact svg {
  width: 14px;
  margin-left: 15px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header .btn-contact:hover {
  background: #0C4947;
  color: #FFFFFF;
}

.header .btn-contact:hover svg {
  width: 18px;
}

.header .btn-contact:hover svg path {
  fill: #FFFFFF;
}

.header .btn-contact:hover svg line {
  stroke: #FFFFFF;
}

.header .navbar-toggler {
  background: #FFFFFF;
}

.header .navbar-toggler .nav-language {
  color: #02B9A4;
  padding-right: 10px;
  padding-left: 20px;
}

.header .navbar-toggler .nav-language span {
  font-size: 1.2rem;
}

.header .btn-toggler {
  padding: 0 25px;
}

.header .btn-toggler:focus .navbar-toggler .nav-language {
  display: none;
}

.button {
  border: 3px solid #111;
  padding: 10px;
  color: #111;
  text-decoration: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#02b9a4), to(#fdeadd));
  background: linear-gradient(#02b9a4 0%, #fdeadd 100%);
  display: none;
  z-index: 1200;
  overflow: auto;
}

.popup::-webkit-scrollbar {
  width: 0 !important;
}

#xmas-popup .popup-content {
  max-width: 1200px;
  height: 600px;
  margin: 40px auto;
  position: relative;
}

#xmas-popup .popup-content .nav-tabs .nav-item .nav-link {
  padding: 22px 110px;
  color: #FFFFFF;
  border-radius: 0;
  font-size: 1.8rem;
}

#xmas-popup .popup-content .nav-tabs .nav-item .nav-link:hover {
  border: 1px solid transparent;
  opacity: 0.7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#xmas-popup .popup-content .nav-tabs .nav-item .nav-link:hover.active {
  opacity: 1;
}

#xmas-popup .popup-content .nav-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#xmas-popup .popup-content .nav-start .nav-item + .nav-item:nth-of-type(2):after {
  width: 0;
}

#xmas-popup .popup-content .nav-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#xmas-popup .popup-content .nav-center .nav-item + .nav-item:after {
  width: 0;
}

#xmas-popup .popup-content .nav-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#xmas-popup .popup-content .nav-item {
  background: #0C4947;
  position: relative;
}

#xmas-popup .popup-content .nav-item + .nav-item:after {
  content: "";
  background: #FFFFFF;
  position: absolute;
  bottom: 25%;
  left: 0%;
  height: 50%;
  width: 2px;
}

#xmas-popup .popup-content .tab-content {
  background: #FFFFFF;
}

#xmas-popup .popup-content .tab-content a:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0.7;
}

#xmas-popup .popup-content .nav-tabs .nav-item.show .nav-link,
#xmas-popup .popup-content .nav-tabs .nav-link.active {
  color: #0C4947;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  padding: 22px 120px;
}

#xmas-popup .popup-content-heading {
  font-size: 116px;
  letter-spacing: 0.05em;
  font-family: "A P-OTF Bunkyu Gothic Pr6", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
}

#xmas-popup .popup-content-heading .product-smallHeading {
  font-size: 35px;
  color: #0C4947;
  position: absolute;
  left: 41%;
  bottom: 5%;
  letter-spacing: 0.08em;
}

#xmas-popup .popup-content-type {
  background: #FFFFFF;
  padding: 70px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 50px 20px;
}

#xmas-popup .popup-content .type-img {
  background: #f4f4f4;
  border-radius: 40px;
  margin-right: 10px;
}

#xmas-popup .popup-content .type-descript {
  margin-bottom: 0;
  font-size: 16px;
  color: #121212;
  font-weight: bold;
}

#xmas-popup .popup-content-industry, #xmas-popup .popup-content-purpose {
  background: #FFFFFF;
  padding: 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px 45px;
  max-width: 877px;
  margin: 0 auto;
}

#xmas-popup .popup-content .industry-img,
#xmas-popup .popup-content .purpose-img {
  background: #f4f4f4;
  border-radius: 40px;
  margin-right: 10px;
}

#xmas-popup .popup-content .industry-descript,
#xmas-popup .popup-content .purpose-descript {
  margin-bottom: 0;
  font-size: 16px;
  color: #121212;
  font-weight: bold;
}

#xmas-popup .popup-content .product-type,
#xmas-popup .popup-content .product-industry,
#xmas-popup .popup-content .product-purpose {
  padding-top: 35px;
}

.close {
  text-decoration: none;
  line-height: 0;
  text-align: center;
}

.popup-heading {
  margin: 50px;
}

.popup-heading .popup-title {
  font-size: 25px;
  color: #FFFFFF;
  line-height: 1.16;
  font-weight: bold;
  margin-left: 52%;
  -webkit-transform: translate(-48%);
          transform: translate(-48%);
}

.form-wrapper {
  max-width: 702px;
}

.form-wrapper .form-control {
  background: #FFFFFF;
  height: 60px;
  border-radius: 50px !important;
  color: #cbcbcb;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.6rem;
}

.form-wrapper .form-control::-webkit-input-placeholder {
  color: #cbcbcb;
  font-size: 1.6rem;
}

.form-wrapper .form-control:-ms-input-placeholder {
  color: #cbcbcb;
  font-size: 1.6rem;
}

.form-wrapper .form-control::-ms-input-placeholder {
  color: #cbcbcb;
  font-size: 1.6rem;
}

.form-wrapper .form-control::placeholder {
  color: #cbcbcb;
  font-size: 1.6rem;
}

.form-wrapper label {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  font-weight: bold;
  margin-right: 45px;
}

.form-wrapper .input-group-append {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.form-wrapper .btn-search {
  background: #FFFFFF;
  border: 0;
  color: #02B9A4;
}

.form-wrapper .btn-search:hover {
  text-decoration: none;
}

.form-wrapper .btn-search i {
  font-size: 25px;
}

.submenu {
  display: none !important;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 320px) {
  .header-logo img {
    height: 5rem;
    margin-right: 1.5rem;
  }
  .header .button-pc {
    display: none !important;
  }
  .header .button-mb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .nav-item .language-mb {
    width: 9.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background: none;
    color: #FFFFFF;
  }
  .group-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    height: 5rem;
  }
  .group-toggler .nav-language {
    color: #02B9A4;
  }
  .navbar-toggler .nav-language {
    font-size: 1.2rem;
  }
  .navbar-mb {
    padding: 5rem 4rem;
    padding-bottom: 0;
  }
  .navbar-mb .nav-item {
    border-top: 1px solid #FFFFFF;
  }
  .navbar-mb .nav-item .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo img {
    height: auto;
    margin-right: 30px;
  }
  .header .button-pc {
    display: block !important;
  }
  .header .button-mb {
    display: none !important;
  }
  .header .nav-item .language-mb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #FFFFFF;
  }
  .header .navbar-expand-xl .navbar-toggler,
  .header .group-toggler {
    display: none;
  }
  .header .navbar-mb {
    padding: 0;
  }
  .header .navbar-mb .nav-item {
    border-top: none;
  }
  .header .navbar-mb .nav-item .nav-link {
    font-size: 14px;
    font-weight: bold;
  }
  .header .button-pc {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .button-mb {
    display: none !important;
  }
  .header .nav-language {
    width: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #FFFFFF;
    color: #02B9A4 !important;
  }
  .header .nav-language:hover {
    color: #02B9A4;
  }
  .header .nav-language:hover span {
    display: none;
  }
  .header .nav-language:hover:before {
    content: "English";
    padding: 5px 0;
    border-bottom: 1px solid;
    border-top: 1px solid transparent;
  }
  .popup:target {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-mb {
    background: url(../images/bg_banner_375.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 768px) {
  .submenu {
    list-style: none;
    padding: 1.5rem;
  }
  .submenu.show {
    display: block !important;
  }
  .submenu li {
    padding: 1rem;
    border-top: 1px solid #FFFFFF;
  }
  .submenu li a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.close {
  text-align: center;
}

.open {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  margin-top: -90px;
  padding-top: 140px;
  padding-bottom: 264px;
  position: relative;
  background: url(../images/bg_banner.png) no-repeat center center;
  background-size: 100% 100%;
}

.banner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-content {
  max-width: 436px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 94px 0 0 70px;
}

.banner-title {
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "A P-OTF Bunkyu Gothic Pr6", sans-serif;
}

.banner-descript {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.banner .thumbnail {
  max-width: 436px;
  right: 8.5%;
  bottom: 0;
  z-index: 2;
}

.banner .thumbnail-item {
  width: 87px;
  margin-right: 30px;
  border-top: 2px solid transparent;
}

.banner .thumbnail .synced .item {
  position: relative;
}

.banner .thumbnail .synced .item:before {
  content: '';
  width: 50%;
  height: 2px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 9;
  background: #02B9A4;
}

.banner .thumbnail .synced .item a {
  position: absolute;
  top: 50%;
  bottom: 0;
}

.banner .btn--primary {
  margin-top: 21px;
}

.banner #scroll-down {
  display: block;
  position: absolute;
  text-align: center;
  right: 20px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  bottom: 320px;
}

.banner #scroll-title {
  display: block;
  color: #0C4947;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-family: 'Arvo';
}

.banner #scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 2px;
  height: 64px;
  background: #0C4947;
  content: ' ';
}

@media screen and (max-width: 1199px) {
  .banner-content {
    padding: 15px;
  }
  .banner .thumbnail {
    right: 0;
  }
  .banner #scroll-down {
    bottom: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .banner-content {
    padding: 15px;
  }
  .banner .thumbnail {
    right: 0;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    background: url(../images/bg_banner_375.jpg) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 110px;
  }
  .banner-content {
    padding: 15px;
  }
  .banner .thumbnail {
    right: 0;
  }
  .banner .divider {
    border-bottom: 1px solid #FFFFFF;
    margin: 20px 0;
    margin-left: 20px;
  }
  .banner .divider:after {
    content: '';
    display: block;
    border-bottom: 1px solid #0C4947;
    margin-bottom: -1px;
    max-width: 54px;
  }
  .banner .js-banner {
    margin-left: -15px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    background: url(../images/bg_banner_375.jpg) no-repeat center center;
    background-size: 100% 100%;
    margin-top: -5rem;
    padding-top: 7rem;
    padding-bottom: 10rem;
  }
  .banner-content {
    padding: 2rem;
  }
  .banner .divider {
    border-bottom: 1px solid #FFFFFF;
    margin: 2rem 0;
    margin-left: 2rem;
  }
  .banner .divider:after {
    content: '';
    display: block;
    border-bottom: 1px solid #0C4947;
    margin-bottom: -1px;
    max-width: 54px;
  }
  .banner-title {
    font-size: 2.4rem;
    letter-spacing: 0.03em;
    line-height: 1.3;
  }
  .banner-descript {
    color: #0C4947;
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .banner #scroll-down {
    bottom: 14rem;
  }
  .banner .btn--primary {
    font-size: 1.2rem;
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
  }
}

@media screen and (min-width: 1440px) {
  .banner-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .thumbnail {
    left: 48%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.product {
  margin-top: -136px;
  padding-bottom: 186px;
  background: url(../images/bg_product.png) no-repeat center center;
  background-size: 100% 100%;
}

.product .nav-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.product .nav-start .nav-item + .nav-item:nth-of-type(2):after {
  width: 0;
}

.product .nav-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .nav-center .nav-item + .nav-item:after {
  width: 0;
}

.product .nav-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product .tab-content {
  background: #FFFFFF;
  position: relative;
  z-index: 10;
  border-radius: 4px;
}

.product .tab-content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#0C4947));
  background: linear-gradient(#f4f4f4 0%, #0C4947 100%);
  opacity: 0.9;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  right: -30px;
  bottom: -50px;
  border-radius: 4px;
}

.product .tab-content .tab-pane {
  background: #FFFFFF;
  border-radius: 4px;
}

.product .tab-content a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product .container {
  max-width: 1212px;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.16));
}

.product .nav-tabs .nav-item .nav-link {
  padding: 22px 110px;
  color: #FFFFFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: none;
  font-size: 18px;
}

.product .nav-tabs .nav-item .nav-link:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.7;
}

.product .nav-tabs .nav-item .nav-link:hover.active {
  opacity: 1;
}

.product .nav-item {
  background: #0C4947;
  position: relative;
}

.product .nav-item + .nav-item:after {
  content: "";
  background: #FFFFFF;
  position: absolute;
  bottom: 25%;
  left: 0%;
  height: 50%;
  width: 2px;
}

.product .nav-tabs .nav-item.show .nav-link, .product .nav-tabs .nav-link.active {
  color: #0C4947;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  padding: 22px 120px;
}

.product-heading {
  font-size: 116px;
  letter-spacing: 0.05em;
  font-family: "A P-OTF Bunkyu Gothic Pr6", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  margin-left: 36px;
}

.product-heading .product-smallHeading {
  font-size: 35px;
  color: #0C4947;
  position: absolute;
  left: 44%;
  bottom: 5%;
  letter-spacing: 0.08em;
}

.product-type {
  background: #FFFFFF;
  padding: 70px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 50px 20px;
}

.product .type-img {
  background: #f4f4f4;
  border-radius: 40px;
  margin-right: 10px;
}

.product .type-descript {
  margin-bottom: 0;
  font-size: 16px;
  color: #121212;
  font-weight: bold;
}

.product-industry, .product-purpose {
  background: #FFFFFF;
  padding: 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px 45px;
  max-width: 877px;
  margin: 0 auto;
}

.product .industry-img, .product .purpose-img {
  background: #f4f4f4;
  border-radius: 40px;
  margin-right: 10px;
}

.product .industry-descript, .product .purpose-descript {
  margin-bottom: 0;
  font-size: 16px;
  color: #121212;
  font-weight: bold;
}

@media screen and (min-width: 2560px) {
  .product-heading {
    left: 27%;
  }
  .product-heading .product-smallHeading {
    left: 23%;
  }
}

@media screen and (max-width: 1024px) {
  .product-type, .product-industry, .product-purpose {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 25px 15px;
    padding-top: 25px;
  }
  .product .type-descript, .product .industry-descript, .product .purpose-descript {
    font-size: 12px;
    text-align: center;
    font-weight: normal;
  }
  .product .type-item, .product .industry-item, .product .purpose-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .type-item img, .product .industry-item img, .product .purpose-item img {
    width: 70px;
    height: 70px;
  }
  .product .tab-content:before {
    right: -15px;
    bottom: -30px;
  }
}

@media screen and (max-width: 991px) {
  .product {
    background: url(../images/bg_product_375.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
  .product-heading {
    font-size: 60px;
    margin-left: 0;
  }
  .product-heading .product-smallHeading {
    font-size: 25px;
    left: 33%;
    bottom: -6%;
  }
  .product-type, .product-industry, .product-purpose {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 25px 15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .product .type-descript, .product .industry-descript, .product .purpose-descript {
    font-size: 12px;
    text-align: center;
    font-weight: normal;
  }
  .product .type-item, .product .industry-item, .product .purpose-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .type-item img, .product .industry-item img, .product .purpose-item img {
    width: 70px;
    height: 70px;
  }
  .product .nav-tabs .nav-item .nav-link {
    padding: 20px 50px;
    font-size: 12px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    color: #FFFFFF;
    border-radius: 0;
    background: #0C4947;
    text-align: center;
    white-space: nowrap;
  }
  .product .nav-tabs .nav-item.show .nav-link, .product .nav-tabs .nav-link.active {
    color: #0C4947;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 20px 60px;
    font-size: 16px;
    line-height: 1.0625;
    font-weight: bold;
  }
  .product .nav-tabs .nav-item {
    width: auto;
  }
  .product .nav-tabs .nav-item .product-tab {
    padding: 20px 50px;
  }
  .product .nav-tabs .nav-item .product-tab.active {
    white-space: nowrap;
    padding: 20px 50px;
  }
  .product .tab-content:before {
    right: -15px;
    bottom: -30px;
  }
}

@media screen and (max-width: 767px) {
  .product {
    background: url(../images/bg_product_375.jpg) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 2.2rem;
    padding-bottom: 1.4rem;
    margin-top: -5rem;
  }
  .product-heading {
    font-size: 6rem;
  }
  .product-heading .product-smallHeading {
    font-size: 2.5rem;
    left: 33%;
    bottom: -6%;
  }
  .product-type, .product-industry, .product-purpose {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2,5rem 1.5rem;
    padding-top: 2.5rem;
  }
  .product .type-descript, .product .industry-descript, .product .purpose-descript {
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
  }
  .product .type-item, .product .industry-item, .product .purpose-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .type-item img, .product .industry-item img, .product .purpose-item img {
    width: 7rem;
    height: 7rem;
  }
  .product .type-img, .product .industry-img, .product .purpose-img {
    margin-right: 0;
  }
  .product .nav-tabs .nav-item .nav-link {
    padding: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
    line-height: 1.6;
    color: #FFFFFF;
    border-radius: 0;
    background: #0C4947;
    text-align: center;
    white-space: nowrap;
  }
  .product .nav-tabs .nav-item.show .nav-link, .product .nav-tabs .nav-link.active {
    color: #0C4947;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
    padding: 2rem 0.5rem;
    font-size: 1.6rem;
    line-height: 1.0625;
    font-weight: bold;
  }
  .product .nav-tabs .nav-item {
    width: 11.8rem;
  }
  .product .nav-tabs .nav-item .product-tab {
    padding: 2rem 0.5rem;
  }
  .product .nav-tabs .nav-item .product-tab.active {
    white-space: pre-wrap;
    padding: 1rem 0.5rem;
  }
  .product .tab-content:before {
    right: -1.5rem;
    bottom: -3rem;
  }
}

.solution {
  padding-bottom: 200px;
  background: url(../images/bg_solution.png) no-repeat center center;
  background-size: 100% 100%;
}

.solution .container {
  max-width: 1266px;
}

.solution-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solution-content {
  max-width: 435px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.solution-img {
  max-width: 710px;
  width: 100%;
  margin-top: 50px;
}

.solution-img img {
  width: 100%;
}

.solution-heading {
  font-size: 55px;
  color: #121212;
  font-family: "roboto", sans-serif;
  margin-bottom: 40px;
}

.solution-descript {
  font-size: 16px;
  color: #121212;
  font-weight: 400;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .solution {
    padding-top: 0;
  }
  .solution-img img {
    width: 100%;
  }
  .solution-heading {
    font-size: 35px;
    letter-spacing: 0.05em;
    margin: 20px 0;
  }
}

@media screen and (max-width: 991px) {
  .solution {
    background: url(../images/bg_solution_375.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
  .solution-img img {
    width: 100%;
  }
  .solution-heading {
    font-size: 35px;
    letter-spacing: 0.05em;
    margin: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .solution-heading {
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    margin: 2rem 0;
  }
  .solution .btn--primary {
    font-size: 1.2rem;
    padding: 1.5rem 5rem 1.5rem 2rem;
  }
  .solution-descript {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .solution {
    padding-top: 0;
    padding-bottom: 14rem;
    padding-top: 6.5rem;
  }
  .solution-img img {
    width: 100%;
  }
  .solution-heading {
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    margin: 2rem 0;
  }
}

.corevalue {
  padding-bottom: 162px;
  background: url(../images/bg_core.png) no-repeat center center;
  background-size: 100% 100%;
}

.corevalue .container {
  max-width: 1266px;
}

.corevalue-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.corevalue-content {
  max-width: 435px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin: 0 auto;
}

.corevalue-img {
  margin-top: 50px;
}

.corevalue-img img {
  width: 100%;
}

.corevalue-heading {
  font-size: 55px;
  color: #121212;
  font-family: "roboto", sans-serif;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
}

.corevalue-descript {
  font-size: 16px;
  color: #121212;
  font-weight: 400;
  margin-bottom: 40px;
}

.corevalue .button-wrapper:nth-of-type(2) .btn-small .btn-text-two {
  margin-right: 5px;
}

.corevalue .button-wrapper:nth-of-type(3) .btn-small .btn-text-two {
  margin-right: 36px;
}

.corevalue .button-wrapper:nth-of-type(4) .btn-small .btn-text-one {
  margin-right: 4px;
}

.corevalue .btn-small {
  margin-top: 40px;
}

@media screen and (min-width: 1440px) {
  .corevalue-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .corevalue-content {
    padding: 0 15px;
    margin: 0 100px;
  }
}

@media screen and (max-width: 1024px) {
  .corevalue-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .corevalue-content {
    padding: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .corevalue {
    background: url(../images/bg_core_375.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
  .corevalue-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .corevalue-content {
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .corevalue {
    background: url(../images/bg_core_375.jpg) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 0;
  }
  .corevalue-img img {
    width: 100%;
  }
  .corevalue-heading {
    font-size: 3.5rem;
  }
  .corevalue-content {
    position: relative;
    top: -5rem;
  }
  .corevalue-descript {
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }
  .corevalue .btn--primary {
    font-size: 1.2rem;
    padding: 1.4rem 5rem 1.4rem 2rem;
  }
  .corevalue .btn-small {
    font-size: 1.2rem;
    margin-top: 3rem;
    padding: 1.4rem 5rem 1.4rem 2rem;
  }
  .corevalue .btn-small span {
    font-size: 1.2rem;
  }
}

.blog {
  margin-top: -3px;
  padding-bottom: 100px;
  background: url(../images/bg_blog.png) no-repeat center center;
  background-size: 100% 100%;
}

.blog-heading {
  margin: 0 auto;
  font-family: "A P-OTF Bunkyu Gothic Pr6", sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: #0C4947;
}

.blog-list {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 0 5px;
}

.blog-status {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.blog-status .status-circle {
  width: 16px;
  height: 16px;
  background: #02B9A4;
  border-radius: 50%;
  margin-right: 3px;
}

.blog-time {
  color: #9A9A9A;
}

.blog-title h6 {
  margin: 10px 0;
  font-weight: bold;
  line-height: 1.375;
  letter-spacing: 0.03em;
  color: #121212;
  text-decoration: none;
  font-size: 16px;
}

.blog-title h6:hover {
  text-decoration: none;
}

.blog p {
  line-height: 1.375;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 1.6rem;
}

.blog-img img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .blog-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .blog-status {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    margin-bottom: 5px;
  }
  .blog-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    font-size: 14px;
    margin-left: 15px;
    line-height: 1.57;
  }
  .blog-list {
    gap: 18px;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .blog {
    background: #f4f4f4;
  }
  .blog-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .blog-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .blog-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .blog-status {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    margin-bottom: 5px;
  }
  .blog-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    font-size: 14px;
    margin-left: 15px;
    line-height: 1.57;
  }
  .blog-item img {
    width: 100%;
    height: auto;
  }
  .blog-heading {
    margin: 0;
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .blog-heading {
    font-size: 2.5rem;
    margin: 0;
  }
  .blog-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }
  .blog-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .blog-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .blog-status {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    margin-bottom: 0.5rem;
  }
  .blog-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    margin-left: 1.5rem;
    line-height: 1.57;
  }
  .blog-title h6 {
    margin: 0.5rem 0;
    font-size: 1.4rem;
  }
  .blog-item img {
    width: 14.3rem;
    height: 9.3rem;
  }
  .blog .btn--primary {
    font-size: 1.2rem;
  }
  .blog p {
    font-size: 1.6rem;
  }
}

.location {
  background: url(../images/bg_location.png) no-repeat center center;
  background-size: 100% 100%;
}

.location-main {
  max-width: 592px;
  padding: 120px 10px;
}

.location-heading {
  font-size: 55px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  line-height: 1.27;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.location-descript {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.6875;
  letter-spacing: 0.03em;
  font-weight: normal;
}

.location .btn--primary {
  margin-top: 4rem;
  margin-left: auto;
}

.space {
  padding: 89px 0 110px;
  background: url(../images/bg_space.jpg) no-repeat center center;
  background-size: 100% 100%;
}

.space-heading {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  line-height: 1.48;
  color: #121212;
}

.space-descript {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  line-height: 1.6875;
  color: #121212;
}

.space .btn-small {
  margin-left: auto;
}

.space .btn-small span {
  font-size: 1.6rem;
}

.space .btn-small svg {
  margin-left: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: absolute;
  top: 37%;
}

.space .btn-small:hover {
  background: #0C4947;
  color: #FFFFFF;
}

.space .btn-small:hover svg {
  width: 14px;
}

.space .btn-small:hover svg path {
  stroke: #FFFFFF;
  fill: #0C4947;
}

.space .btn-small:hover svg line {
  stroke: #FFFFFF;
  fill: #0C4947;
}

.contact {
  background: #02B9A4;
}

.contact-main {
  max-width: 681px;
  margin: 0 auto;
  padding: 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.contact-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6875;
  color: #FFFFFF;
}

.contact .btn-small {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.contact .btn-small span {
  font-size: 1.6rem;
  font-weight: bold;
}

.contact .btn-small svg {
  margin-left: 15px;
  width: 14px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: absolute;
  top: 43%;
}

.contact .btn-small:hover {
  background: #204846;
}

.contact .btn-small:hover svg {
  width: 18px;
}

.contact .btn-small:hover svg path {
  fill: #FFFFFF;
}

.contact .btn-small:hover svg line {
  stroke: #FFFFFF;
}

@media screen and (max-width: 991px) {
  .location-main {
    padding: 75px 10px;
  }
  .location-heading {
    font-size: 40px;
    margin-bottom: 58px;
  }
  .location .btn--primary {
    margin: 0 auto;
    margin-top: 40px;
  }
  .contact-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
  }
  .contact-title {
    margin: 0 10px;
  }
  .contact .btn-small {
    margin: 0 auto;
  }
  .space img {
    width: 100%;
    padding: 0px 10px;
  }
  .space-heading {
    font-size: 20px;
    margin: 30px 10px;
  }
  .space-descript {
    margin-left: 10px;
    margin-right: 10px;
  }
  .space .btn-small {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .location {
    background: url(../images/bg_location_375.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
  .contact-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 4rem;
  }
  .contact-title {
    margin: 0 1rem;
  }
  .space {
    background: url(../images/bg_space_375.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 7rem;
  }
  .space img {
    width: 100%;
    padding: 0 1rem;
  }
  .space-heading {
    font-size: 2rem;
    margin: 3rem 1rem;
  }
  .space-descript {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .space .btn-small {
    margin-right: 1rem;
  }
}

.partner {
  padding-top: 20px;
  padding-bottom: 70px;
  background: #f4f4f4;
}

.partner .container {
  max-width: 1040px;
}

.partner .related-business {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 1.6rem;
  font-weight: bold;
}

.partner-top .partner-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}

.partner-top .partner-list img {
  width: 100%;
}

.partner-item a {
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.partner-item a:hover {
  opacity: 0.7;
}

.partner-bottom .partner-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px 30px;
}

.partner-bottom .btn-small {
  max-width: 230px;
  height: 58px;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #FFFFFF;
  color: #121212;
  font-size: 12px;
  border-radius: 0;
  letter-spacing: 0.03em;
  line-height: 1.42;
  padding: 15px;
  width: 100%;
  text-align: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner-bottom .btn-small span {
  white-space: nowrap;
}

.partner-bottom .btn-small svg {
  position: static;
}

.partner-bottom .btn-small:hover {
  background: #204846;
  color: #FFFFFF;
}

.partner-bottom .btn-small:hover svg {
  width: 14px;
}

.partner-bottom .btn-small:hover svg path {
  fill: #0C4947;
  stroke: #FFFFFF;
}

.partner-bottom .btn-small:hover svg line {
  stroke: #FFFFFF;
  fill: #0C4947;
}

.partner .scrollToTopBtn {
  background-color: none;
  border: none;
  border-radius: 50%;
  color: #02B9A4;
  padding: 0;
  position: fixed;
  bottom: 120px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.partner .scrollToTopBtn:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.partner .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.partner .showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  .partner .related-business {
    margin: 50px 0 30px 0;
  }
  .partner-top .partner-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 15px;
  }
  .partner-bottom .partner-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 5px;
  }
  .partner-bottom .btn-small {
    width: 230px;
    height: 58px;
    font-size: 12px;
    padding: 0rem .9375rem;
    border-radius: 0;
    letter-spacing: 0.03em;
    line-height: 1.42;
  }
  .partner-bottom .btn-small svg {
    margin-left: 20px;
  }
  .partner .scrollToTopBtn {
    bottom: 230px;
  }
}

@media screen and (max-width: 991px) {
  .partner .related-business {
    margin: 50px 0 30px 0;
  }
  .partner-top .partner-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 0 15px;
  }
  .partner-top .partner-list img {
    width: 100%;
  }
  .partner-bottom .partner-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 5px;
  }
  .partner-bottom .btn-small {
    height: 58px;
    font-size: 12px;
    padding: 0rem .9375rem;
    border-radius: 0;
    letter-spacing: 0.03em;
    line-height: 1.42;
  }
  .partner-bottom .btn-small span {
    white-space: normal;
  }
  .partner-bottom .btn-small svg {
    margin-left: 20px;
  }
  .partner .scrollToTopBtn {
    bottom: 230px;
  }
}

@media screen and (max-width: 767px) {
  .partner .related-business {
    margin: 5rem 0 3rem 0;
  }
  .partner-top .partner-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 0 1.5rem;
  }
  .partner-top .partner-list img {
    width: 100%;
  }
  .partner-bottom .partner-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 0.5rem;
  }
  .partner-bottom .btn-small {
    width: 15.3rem;
    height: 5.8rem;
    font-size: 1.2rem;
    padding: 0rem .9375rem;
    border-radius: 0;
    letter-spacing: 0.03em;
    line-height: 1.42;
  }
  .partner-bottom .btn-small svg {
    margin-left: 2rem;
  }
  .partner .scrollToTopBtn {
    bottom: 23rem;
  }
}

.footer {
  background: #FFFFFF;
}

.footer .container {
  max-width: 1280px;
}

.footer-content {
  padding: 20px 0;
}

.footer-left span {
  font-size: 12px;
  color: #0C4947;
  line-height: 1.42;
}

.footer-right .nav-link {
  margin: 0 20px;
  font-size: 12px;
  color: #0C4947;
  line-height: 1.42;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer-right .nav-link:hover {
  color: #121212;
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .footer-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-left span {
    font-size: 1.2rem;
  }
  .footer-right .navbar-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer-right .navbar-nav .nav-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .footer-right .navbar-nav .nav-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .footer-right .navbar-nav .nav-item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .footer-right .navbar-nav .nav-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .footer-right .nav-item {
    margin-bottom: 3rem;
  }
  .footer-right .nav-link {
    margin: 0;
    font-size: 1.2rem;
  }
}

.contact-heading h3 {
  font-size: 2.2rem;
}

.contact-heading h4 {
  font-size: 2rem;
}

.wrap-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=app.css.map */