* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@import '_mixin.scss';
html {
    font-size: calc(10/375*100vw);
    @include mq_min_969 {
        font-size: 62.5%;
    }
}