@import '_mixin.scss';

.header {
    position: relative;
    top: 108rem;
    .navbar {
        padding: 0;
        background-color: #FFFFFF;
    }
    &-logo {
        width: 14.3rem;
        height: 4.3rem;
        margin: 0 auto;
        @include mq_min_969 {
            width: 14.8rem;
            height: 4.8rem;
            margin: 0;
        }
        img {
            width: 100%;
        }
    }
    .logo-right {
        width: 12.9rem;
        height: 1.5rem;
        display: none;
        @include mq_min_969 {
            display: block;
        }
        .nav-link {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                top:0;
                left:0;
                background-color: #000000;
            }
        }
        img {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
    &-navbar {
        font-size: 1.5rem;
        .nav-item {
            padding: 0.8rem 0;
            .nav-link {
                padding: 1.6rem 2rem;
                color: #000000;
                transition: all 0.2s ease-in;
                &.active {
                    color: #00E1FF;
                }
                &:hover {
                    color: #00E1FF;
                }
            }
            &.nav-contact {
                .nav-link {
                    padding-right: 4rem;
                }
            }
        }
        // @include mq_min_1200 {
        //     font-size: 1.5rem;
        // }
    }
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    width: 100%;
    min-height: 100%;
    opacity: 0.8;
  }
.bg_content {
    position: fixed;
    top: 30%;
    min-width: 100%; 
    max-height: 108rem;
    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 27.5rem;
            width: 100%;
        }
    }
    &-footer {
        background: rgba($color: #000000, $alpha: 0.7);
        margin-top: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        p {
            font-size: 1.4rem;
            color: #FFFFFF;
        }
    }
    .snippet {
        margin: 5rem 0;
    }
    .stage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
            margin-top: 2rem;
            font-size: 1.5rem;
            animation: scroll 1s infinite linear alternate;
            animation-delay: 1.5s;
        }
    }
    .dot-flashing {
        position: relative;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: .5rem;
        background-color: #FFFFFF;
        color: #FFFFFF;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: .5s;
      }
      
      .dot-flashing::before, .dot-flashing::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
      }
      
      .dot-flashing::before {
        top: -1.5rem;
        width: 0.7rem;
        height: .7rem;
        border-radius: .5rem;
        background-color: #FFFFFF;
        color: #FFFFFF;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 0s;
      }
      
      .dot-flashing::after {
        top: 1.5rem;
        width: .7rem;
        height: .7rem;
        border-radius: .5rem;
        background-color: #FFFFFF;
        color: #FFFFFF;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 1s;
      }
      
      @keyframes dotFlashing {
        0% {
          background-color: #00E1FF;
        }
        100%{
          background-color: #FFFFFF;
        }
      }
      @keyframes scroll {
        0% {
            color:#00E1FF
          }
          100%{
            color: #FFFFFF;
          }
      }
}