@mixin mq_min_750 {
    @media screen and (min-width: 750px){
        @content;
    }
}

@mixin mq_min_969 {
    @media screen and (min-width: 969px){
        @content;
    }
}

@mixin mq_min_1200 {
    @media screen and (min-width: 1200px){
        @content;
    }
}