* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: calc(10/375*100vw);
}

@media screen and (min-width: 969px) {
  html {
    font-size: 62.5%;
  }
}

.header {
  position: relative;
  top: 108rem;
}

.header .navbar {
  padding: 0;
  background-color: #FFFFFF;
}

.header-logo {
  width: 14.3rem;
  height: 4.3rem;
  margin: 0 auto;
}

@media screen and (min-width: 969px) {
  .header-logo {
    width: 14.8rem;
    height: 4.8rem;
    margin: 0;
  }
}

.header-logo img {
  width: 100%;
}

.header .logo-right {
  width: 12.9rem;
  height: 1.5rem;
  display: none;
}

@media screen and (min-width: 969px) {
  .header .logo-right {
    display: block;
  }
}

.header .logo-right .nav-link {
  position: relative;
}

.header .logo-right .nav-link:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
}

.header .logo-right img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.header-navbar {
  font-size: 1.5rem;
}

.header-navbar .nav-item {
  padding: 0.8rem 0;
}

.header-navbar .nav-item .nav-link {
  padding: 1.6rem 2rem;
  color: #000000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header-navbar .nav-item .nav-link.active {
  color: #00E1FF;
}

.header-navbar .nav-item .nav-link:hover {
  color: #00E1FF;
}

.header-navbar .nav-item.nav-contact .nav-link {
  padding-right: 4rem;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.bg_content {
  position: fixed;
  top: 30%;
  min-width: 100%;
  max-height: 108rem;
}

.bg_content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg_content-logo img {
  max-width: 27.5rem;
  width: 100%;
}

.bg_content-footer {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.bg_content-footer p {
  font-size: 1.4rem;
  color: #FFFFFF;
}

.bg_content .snippet {
  margin: 5rem 0;
}

.bg_content .stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg_content .stage .text {
  margin-top: 2rem;
  font-size: 1.5rem;
  -webkit-animation: scroll 1s infinite linear alternate;
          animation: scroll 1s infinite linear alternate;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.bg_content .dot-flashing {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: .5rem;
  background-color: #FFFFFF;
  color: #FFFFFF;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.bg_content .dot-flashing::before, .bg_content .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.bg_content .dot-flashing::before {
  top: -1.5rem;
  width: 0.7rem;
  height: .7rem;
  border-radius: .5rem;
  background-color: #FFFFFF;
  color: #FFFFFF;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.bg_content .dot-flashing::after {
  top: 1.5rem;
  width: .7rem;
  height: .7rem;
  border-radius: .5rem;
  background-color: #FFFFFF;
  color: #FFFFFF;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotFlashing {
  0% {
    background-color: #00E1FF;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes dotFlashing {
  0% {
    background-color: #00E1FF;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@-webkit-keyframes scroll {
  0% {
    color: #00E1FF;
  }
  100% {
    color: #FFFFFF;
  }
}

@keyframes scroll {
  0% {
    color: #00E1FF;
  }
  100% {
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=style.css.map */